<div class="searchItems">
<div class="container">
  <% if (!search) { %>
  <h1>Nightlife Coordination</h1>
  <% } else {%>
    <h1><%= search %></h1>
  <% } %>
  <p>Please Drink Responsibly</p>
  <form action="/results" method="GET">
    <input class="searchBar" type="text" placeholder=" Enter city state or zip..." name="search">
    <button class="btn btn-default" type="submit">Search</button>
    <br>
    <br>
    <a target="_blank" href="https://www.yelp.com/developers"><img src="/images/logos/yelp.png"></a>
  </form>
</div>
</div>
