<% include partials/header %>

<div class="logreg">
  <div class="container">
    <% if (error && error.length > 0) {%>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
      <% if (success && success.length > 0) {%>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
    <% } %>
  </div>
<form action="/register" method="POST"/>
  <h4>Register</h4>
  <br>
  <br>
  <input type="text" name="username" placeholder=" username">
  <br>
  <br>
  <input type="password" name="password" placeholder=" password">
  <br>
  <br>
  <button class="btn btn-default">Register</button>
</form>
<br>
<p>Already have an account? <a href="/login">Login</a></p>
</div>

<% include partials/footer %>
